*
  box-sizing border-box
  margin 0
  padding 0
  font-family 'Overpass', sans-serif
  font-size 1rem

section
  min-height 100vh
  position relative
  margin-bottom 100px

.name
  text-align center
  margin-bottom 30px
  font-size 3rem
  color #9068BE

a:not(.home-image)
  color #505050
  padding 10px
  text-decoration none

  &:hover
    background-color #3DD9D6

.home-image
  border none
  position absolute
  top 30px
  right 30px

  img
    width 40px
    height 40px

@media screen and (max-width: 836px)
  section
    margin-bottom 60px

@import 'components/*'
