.about-container
  height 100vh
  padding 50px
  display flex
  justify-content center
  align-items center
  flex-direction column

  p
    margin-bottom 30px
    width 50%
    line-height 2rem

  .button-container
    width 50%
    text-align right
    margin-top 20px

  .button-container a
    border 2px solid #505050
    border-radius 5px
    padding 10px

@media screen and (max-width: 836px)
  .about-container
    padding 20px

    p
      width 80%

    a
      margin-top 15px

    .home
      display none
