#intro
  .name
    opacity 0

  ul
    opacity 0
    display flex
    justify-content center
    align-items center

    li
      list-style none
      padding-left 15px

      a
        color #505050
        padding 10px
        text-decoration none

        &:hover
          background-color #3DD9D6

.intro-container
  width 100vw
  height 100vh
  display flex
  justify-content center
  align-items center
  flex-direction column


.logo
  position absolute
  opacity 0
  width 0px
  height 0px
